<!DOCTYPE html>
<html>
  <head>
    <title>LawnService</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>

  <body>
    <nav class="position-absolute no-shadows">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo center">Logo</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a data-location="contact">Contact</a></li>
          <li><a data-location="services">Services</a></li>
          <li><a data-location="login">Sign In</a></li>
        </ul>
      </div>
    </nav>
    <%= yield %>

    <footer class="page-footer padding-3-0-3-0">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">
                  Contact Information
                </h5>
                <div class="col s12">
                  <div class="col s1">
                    <i class="material-icons">contact_phone</i> 
                  </div>
                  <div class="col s11">
                    (239) 333 - 7411
                  </div>
                  
                </div>

                <div class="col s12">
                  <div class="col s1">
                    <i class="material-icons">location_city</i> 
                  </div>
                  <div class="col s11">
                    1112 North West 17th Street Cape Coral, 33993
                  </div>
                  
                </div>

                <div class="col s12">
                  <div class="col s1">
                    <i class="material-icons">contact_mail</i> 
                  </div>
                  <div class="col s11">
                    lawnservice@gmail.com
                  </div>
                  
                </div>
              </div>
              <div class="col l4 offset-l2 s12">
              <!-- <h5 class="white-text">Links</h5>
                 <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul> -->
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            </div>
          </div>
        </footer>
  </body>
</html>
